@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0271e8;
  --text-color: #060606;
  --border-radius: 8px;
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-text: var(--text-color);
  --radius: var(--border-radius);
}

/* Universal css */
body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  color: var(--text-color);
}

/* Utility class */
.font-dm-sans {
  font-family: var(--font-dm-sans);
}


/* utility */
.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}

/* compononents  */
.primary-btn {
  @apply bg-primary text-white px-6 py-3 font-medium cursor-pointer rounded-lg opacity-90 text-base transition-all duration-200 ease-in-out;
}

.primary-btn:hover {
  @apply brightness-110 -translate-y-0.5;
}

.badge {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  background: #f0f7ff;
  border-radius: 32px;
  display: inline-block;
}

.title {
  color: #060606;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  font-family: var(--font-dm-sans), sans-serif;
}

.sub-title {
  color: #65758b;
  font-weight: 400;
  line-height: 150%;
}

.service-card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.137);
  padding: 1.5rem;
  border-radius: 20px;
  color: #0271e8;
  transition: all 300ms ease;
  cursor: pointer;
  background-color: white;
}

.service-card:hover {
  background-color: #f0f7ff;
  border: 1px solid var(--primary-color);
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 42px;
  }
}
