@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0271e8;
  --text-color: #060606;
  --border-radius: 8px;
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-text: var(--text-color);
  --radius: var(--border-radius);
}

/* Universal css */
body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  color: var(--text-color);
}

/* Utility class */
.font-dm-sans {
  font-family: var(--font-dm-sans);
}


/* utility */
.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}

/* compononents  */
.primary-btn {
  @apply bg-primary text-white px-6 py-3 font-medium cursor-pointer rounded-lg opacity-90 text-base transition-all duration-200 ease-in-out;
}

.primary-btn:hover {
  @apply brightness-110 -translate-y-0.5;
}


.badge {
  @apply text-[var(--primary-color)] font-medium text-base px-4 py-2 bg-[#f0f7ff] rounded-full inline-block;
}

.title {
  @apply text-[#060606] font-bold text-[48px] leading-[54px] font-[var(--font-dm-sans),sans-serif];
}

.sub-title {
  @apply text-[#65758b] font-normal leading-[150%];
}

.service-card {
  @apply shadow-[0_1px_2px_0_rgba(0,0,0,0.137)] p-6 rounded-[20px] text-[#0271e8] transition-all duration-300 ease-in-out cursor-pointer bg-white;
}

.service-card:hover {
  @apply bg-[#f0f7ff] border border-[var(--primary-color)];
}

@media (max-width: 768px) {
  .title {
    @apply text-[36px] leading-[42px];
  }
}
