@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0271e8;
  --text-color: #060606;
  --border-radius: 8px;
  /* font */
  --font-inter: "Inter", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-text: var(--text-color);
  --radius: var(--border-radius);
}

/* Universal css */
body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  color: var(--text-color);
}

/* utility */
.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}

/* compononents  */
.primary-btn {
  @apply bg-primary text-white px-6 py-3 font-medium cursor-pointer rounded-lg opacity-90 text-base transition-all duration-200 ease-in-out;
}

.primary-btn:hover {
  @apply brightness-110 -translate-y-0.5;
}
